body {
	background-color: 
	font-family: , "Helvetica Neue", sans-serif;
}







/*.mode {
	box-sizing: border-box;
	background-color: #ccc;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: center;

	font-family: "Helvetica Neue";
	font-size: 48px;


}

#view {
	margin-top:100px;
	margin-bottom: 20px;

}

#edit {

}

#editArea {
	padding: 10px;
	font-size: 14px;
	margin-top: 10px;
}

.button {
	font-size: 14px;
	background-color: #fff;
	color: #000;
	padding: 5px;
	display: inline-block;
}*/















